<p>
  Hola <%= data.firstName %>!
</p>
<p>
  Te saludamos desde la organización de México Debate.
  Te escribimos para invitarte a la nueva plataforma que
  será la sede virtual del evento: www.mexicodebate.com
</p>
<p>
  En él podrás buscar información como materiales y reglamentos,
  video-tutoriales, seguimiento en vivo del torneo, mociones, avisos y más.
</p>
<p>
  Además, tendrás acceso a “Mi Sitio”, donde podrás revisar tu status de
  registro, descargar tu diploma de participación, obtener tu constancia,
  y varias funciones más.
</p>
<p>
  Una vez que tu equipo haya completado su documentación y cumplido con
  todos los requisitos de inscripción, obtendrá el status de pre-inscrito
  en el Torneo.
</p>

<p>
  Para confirmar tu asistencia, y asegurar tu lugar en el Torneo, deberás
  dar click en “Confirmación de Registro” dentro de “Mi Sitio”. Para poder
  acceder, te compartimos tus datos de Inicio de Sesión:
</p>

<p>
  Usuario:
  <strong>
    <%= data.email %>
  </strong>
</p>
<p>
  Contraseña:
  <strong>
    <%= data.password %>
  </strong>
</p>

<p>
  Te deseamos un feliz día.
</p>

<p>
  Atentamente,
</p>
<p>
  Equipo México Debate
</p>